.projects {
  display: flex;
  flex-direction: column;
  margin: 100px 0 0 20px;

  h1 {
    font-size: 50px;
    color: #4caf50;
    font-weight: bold;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
  }

  .projects-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}